/* || GENERAL STYLES */
body {
  box-sizing: border-box;
  width: 85%;
  margin: 1em auto 1em;
  background-color: #f5f5f5;
  color: #464646;
  font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1 {
  margin: 1em 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* || TYPE COLORS */
:root {
  --normal-color: #a8a878;
  --fighting-color: #c03028;
  --flying-color: #a890f0;
  --poison-color: #a040a0;
  --ground-color: #e0c068;
  --rock-color: #b8a038;
  --bug-color: #a8b820;
  --ghost-color: #705898;
  --steel-color: #b8b8d0;
  --fire-color: #f08030;
  --water-color: #6890f0;
  --grass-color: #78c850;
  --electric-color: #f8d030;
  --psychic-color: #f85888;
  --ice-color: #98d8d8;
  --dragon-color: #7038f8;
  --dark-color: #705848;
  --fairy-color: #ee99ac;
}
.normal-bg {
  background-color: var(--normal-color);
}
.normal-text {
  color: var(--normal-color);
}
.fighting-bg {
  background-color: var(--fighting-color);
}
.fighting-text {
  color: var(--fighting-color);
}
.flying-bg {
  background-color: var(--flying-color);
}
.flying-text {
  color: var(--flying-color);
}
.poison-bg {
  background-color: var(--poison-color);
}
.poison-text {
  color: var(--poison-color);
}
.ground-bg {
  background-color: var(--ground-color);
}
.ground-text {
  color: var(--ground-color);
}
.rock-bg {
  background-color: var(--rock-color);
}
.rock-text {
  color: var(--rock-color);
}
.bug-bg {
  background-color: var(--bug-color);
}
.bug-text {
  color: var(--bug-color);
}
.ghost-bg {
  background-color: var(--ghost-color);
}
.ghost-text {
  color: var(--ghost-color);
}
.steel-bg {
  background-color: var(--steel-color);
}
.steel-text {
  color: var(--steel-color);
}
.fire-bg {
  background-color: var(--fire-color);
}
.fire-text {
  color: var(--fire-color);
}
.water-bg {
  background-color: var(--water-color);
}
.water-text {
  color: var(--water-color);
}
.grass-bg {
  background-color: var(--grass-color);
}
.grass-text {
  color: var(--grass-color);
}
.electric-bg {
  background-color: var(--electric-color);
}
.electric-text {
  color: var(--electric-color);
}
.psychic-bg {
  background-color: var(--psychic-color);
}
.psychic-text {
  color: var(--psychic-color);
}
.ice-bg {
  background-color: var(--ice-color);
}
.ice-text {
  color: var(--ice-color);
}
.dragon-bg {
  background-color: var(--dragon-color);
}
.dragon-text {
  color: var(--dragon-color);
}
.dark-bg {
  background-color: var(--dark-color);
}
.dark-text {
  color: var(--dark-color);
}
.fairy-bg {
  background-color: var(--fairy-color);
}
.fairy-text {
  color: var(--fairy-color);
}
/* || UTILITIES */
.bold {
  font-weight: 700;
}
.bottom {
  bottom: 75px;
}
.positive {
  color: #008b00;
}
.negative {
  color: #cd0000;
}
.no-damage {
  color: #000;
}
/* || LOADING SCREEN */
.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  font-size: 36px;
}
/* || TEAM */
.team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.team-member-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.team-member-placeholder {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.team-member-name-input {
  margin-top: 0.5em;
  width: 125px;
  color: #464646;
  font-size: 16px;
}
.team-member-name-input::placeholder,
.team-member-move-input::placeholder {
  color: #909090;
  font-size: 12px;
  text-transform: none;
}
.team-member-types-list {
  display: flex;
  margin-top: 0.5em;
}
.team-member-type {
  text-transform: capitalize;
}
.team-member-moves-wrapper {
  display: flex;
  justify-content: center;
}
.team-member-moves-container {
  margin: 0;
  padding: 0.5em;
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  z-index: 1;
}
.team-member-move-input {
  margin-top: 0.5em;
  width: 125px;
  color: #464646;
  font-size: 12px;
}
/* || TYPE CHART */
.type-chart-container {
  margin-top: 1em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  border-radius: 5px;
}
.type-chart-heading {
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 24px;
}
.type-chart {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.type {
  position: relative;
}
.type-label {
  position: relative;
  margin: 0 1em;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 16px;
}
.damage-value {
  margin: 1em 0;
  font-size: 16px;
}
/* || POPOVER */
.popover {
  padding: 1em;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.popover-heading {
  margin-bottom: 0.5em;
  font-size: 18px;
}
/* || MEDIA QUERIES */
@media screen and (max-width: 1030px) {
  .team {
    grid-template-columns: repeat(3, 1fr);
  }
  .popover {
    width: 100%;
    font-size: 14px;
  }
  .popover-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .type-chart {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
